services:
  php:
    build: .
    container_name: doan1_php
    volumes:
      - ./:/var/www/html
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: "${DB_PASS}"
    restart: unless-stopped

  caddy:
    image: caddy:2
    container_name: doan1_caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html:ro
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php
    restart: unless-stopped

  db:
    image: mysql:8.4
    container_name: hrm
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASS}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASS}"
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
  db_data:
